* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins';
}

@import 'sass/pages/flex';
@import 'sass/pages/grid';